<!DOCTYPE html>
<html>
<head>
  <title>WetubeFrontend</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <META name="viewport" content="width=device-width, initial-scale=.5, user-scalable=no" />
</head>
<body>

<%= yield %>

</body>
</html>
