<div id="chat">
  <div id='messages-container'>
    <% 100.times do %>
        <div class='message'></div>
    <% end %>
  </div>
  <div class='message-form'>
    <textarea id='message-text-area' rows="3"></textarea>
    <div id='message-submit-button'></div>
  </div>
</div>
<div id="playlist"></div>
<div id="video"></div>
<div id="controls"></div>
