<div id="chat">
  <div id='messages-container'>
    <% 9.times do %>
      <div class='message'></div>
    <% end %>
  </div>
  <div class='message-form'></div>
</div>
<div id="playlist"></div>
<div id="video"></div>
<div id="controls"></div>
