#home-content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
}

#home-list {
  border-image: url(film-border2.png) 10% 50% repeat;
  border-width: 0px 30px;
  float: left;
}

#home-title {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  width: 60%;
}

html {
  background: url('http://3.bp.blogspot.com/_SvpUm_JJb0g/TUui_2oHsII/AAAAAAAAACs/lfplHeHSX8U/s1600/Movie+Theater.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}