@font-face {
    font-family: 'SeasideResortNFRegular';
    src: url('SEASRN__-webfont.eot');
    src: url('SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
         url('SEASRN__-webfont.woff') format('woff'),
         url('SEASRN__-webfont.ttf') format('truetype'),
         url('SEASRN__-webfont.svg#SeasideResortNFRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #2D7574;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.brand_name {
 font-family: 'SeasideResortNFRegular', cursive; 
}

header {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 10%;
  top: 0px;
  font-family: 'SeasideResortNFRegular';
  box-shadow: 1px 1px 5px #333;
  z-index: 2;
  background: url('bg-curtain.jpg') repeat-x top center #2D7574;
  h1 {
    float:left;
    margin-top: 1%;
    margin-left: 1%;
    a {
      color: white;
      text-decoration: none;
    }
  }
  h2 {
    text-align:center;
    margin-right: 23%;
    color: white;
  }
}

// CSS for chat below:

#chat {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  height: 90%;
  width: 21%;
  left: 0;
  top: 10%;
  background-color: #EBF8F1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#messages-container {
  position: relative;
  position: absolute;
  display: block;
  top: 0;
  height: 90%;
  width: 100%;
  background-color: #EBF8F1;
  overflow-y: auto;
  .message:nth-child(odd) { background-color: #b9d2c5};
  ul {
    padding: 0px;
    margin: 0px;
  }
  ul li {
    display: inline-block;
  }
}

.message {
  position: relative;
  display: block;
  bottom: 0;
  padding-left: 4%;
  ul {
    list-style-type: none;
  }
  .chat-name {
    color: #6e8177;
    font-weight: bold;
  }
}

.message-form {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 10%;
  bottom: 0;
  background-color: #b9d2c5;
  text-align: center;
  box-shadow: -1px -1px 3px #6e8177;
}

.name-form {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 10%;
  bottom: 0;
  background-color: #b9d2c5;
  text-align: center;
  box-shadow: -1px -1px 3px #6e8177;
  z-index: 99;
}

#message-text-area {
  display: inline-block;
  margin-top: 1%;
  height: 80%;
  width: 60%;
  border: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#message-submit-button {
  position: relative;
  display: inline-block;
  margin-top: 1%;
  vertical-align: top;
  horizontal-align: middle;
  height: 83%;
  width: 30%;
  background-color: grey;
  border: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

// CSS for playlist below:

#playlist {
  position: absolute;
  display: inline-block;
  height: 90%;
  width: 25%;
  right: 0;
  top: 10%;
  background-color: #EBF8F1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#playlists-container {
  position: relative;
  position: absolute;
  padding: 1em;
  display: block;
  top: 0;
  height: 90%;
  width: 91.6%;
  background-color: #EBF8F1;
  overflow-y: scroll;
}

.playlist-item {
  position: relative;
  display: block;
  height: 10%;
  bottom: 0;
  background-color: orange;
}

#playlist-input {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 10%;
  bottom: 0;
  background-color: #b9d2c5;
  text-align: center;
  box-shadow: -1px -1px 3px #6e8177;
}

#playlist-text-area {
  position: relative;
  display: inline-block;
  margin-top: 1%;
  height: 80%;
  width: 60%;
  border: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#playlist-submit-button {
  position: relative;
  display: inline-block;
  margin-top: 1%;
  vertical-align: top;
  horizontal-align: middle;
  height: 83%;
  width: 30%;
  background-color: grey;
  border: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.video {
  float: left;
  padding-bottom: .5em;
  width: 100%;
  list-style-type: none;
  img {
    float: left;
  }
  span {
    float: left;
    width: 59%;
    padding-left: 1em;
    font-weight: bold;
    font-size: .8em;
  }
}

// CSS for video player below:

#video {
  position: absolute;
  left: 21%;
  height: 80.9%;
  width: 54%;
  top: 10%;
  background-color: black;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 4;
}

#video-cover {
  position: absolute;
  left: 21%;
  height: 80.9%;
  width: 54%;
  top: 10%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 5;
}


// CSS for video controls/nav below:

#controls {
  position: absolute;
  display: inline-block;
  height: 9.1%;
  width: 54%;
  left: 21%;
  bottom: 0;
  background-color: grey;
  box-shadow: 0px -1px 10px #6e8177;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  button {
    border: none;
    border-radius: 4px;
  }
}

#slider {
  position: absolute;
  width: 70%;
  left: 25%;
  top: 38%;
  opacity: 1;
}

#control_play button {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  margin-left: 30px;
  top: 27%;
  z-index: 5;
  padding: .6em 1em;
  &:hover{
    background: #ebebeb;
  }
} 

#control_pause button {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  margin-left: 85px;
  top: 27%;
  z-index: 5;
  padding: .6em 1em;
  &:hover{
    background: #ebebeb;
  }
}