<div id="chat">

  <div id='messages-container'></div>

  <form class='name-form'>
    <input type="text" ng-model="name" placeholder="Enter Your Name">
  </form>

  <form class='message-form' action="/messages" method="post" data-remote="true">
    <input type="text" pattern=".{2,}" required="required" id='message-text-area' name="content" placeholder="Chat with users"></textarea>
    <input type="hidden" name="conversation_id" value="<%= @conversation.id %>">
    <input type="hidden" name="name" value="{{ name }}">
    <button id='message-submit-button'>Submit</button>
  </form>

</div>