<div id="chat">
  <div id='messages-container'>
    <% @conversation.messages.each do |message| %>
      <div class='message'><%= message.content %></div>
    <% end %>
    <!-- Why is the background color of message class different from messages-container -->
  </div>

  <div class='message-form'>
    <textarea id='message-text-area' rows="3"></textarea>
    <div id='message-submit-button'></div>
  </div>
</div>