<div id="chat">
  <div id='messages-container'>
    <% @conversation.messages.each do |message| %>
      <%= render partial: "messages/message", locals: {message: message} %>
    <% end %>
    <!-- Why is the background color of message class different from messages-container -->
  </div>

  <form class='message-form' action="/messages" method="post" data-remote="true">
    <input type="text" id='message-text-area' rows="3" name="content"></textarea>
    <input type="hidden" name="conversation_id" value="<%= @conversation.id %>"></input>
    <!-- If the theater is private, we'd likely wanna add a require_login hook -->
    <button id='message-submit-button'>Submit</button>
  </form>
</div>