<div id="controls">
  <div id='slider'></div>
  <form id='control_play' action="/videos/<%=@theater.id%>/play" method="post" data-remote="true">
    <button><i class="icon-play"></i></button>
  </form>
  <form id='control_pause' action="/videos/<%=@theater.id%>/pause" method="post" data-remote="true">
    <button><i class="icon-pause"></i></button>
  </form>
</div>

<script type="text/javascript">

  $(function() {
    $("#slider").slider({ disabled: true });
  });

</script>
