<div id="playlist">
  <div id='playlists-container'>
    <h4><%= @theater.name %></h4>
    <!-- playlist items are appended here from handlebar template -->
  </div>
  <div id='playlist-input'>
    <textarea id='playlist-text-area' rows="3"></textarea>
    <div id='playlist-submit-button'></div>
  </div>
</div>