<div id="home-content">
  <div id='home-list'>
    <% @playlists.each do |playlist| %>
      <% if playlist.videos.first %>
        <a href="#">
          <img src="<%=playlist.videos.first.thumbnail%>" />
        </a>
        <br />
      <% else %>
        <img src="http://i1.ytimg.com/vi/NCbi78E--no/default.jpg" /><br />
      <% end %>
    <% end %>
  </div>
</div>

  <div id="home-title">
    <h1>Welcome to Wetube</h1>
    <h3>Interactive theaters for you and your loved ones DERP DE DERP DERP</h3>
    <% @theaters.each do |theater| %>
      <%= theater.name %>
    <% end %>
  </div>
</div>