<div id="home-content">
  <div id='home-list'>
    <% @playlists.each do |playlist| %>
      <%= link_to image_tag(playlist[:image]), theater_path(playlist[:slug]), 'data-gif' => playlist[:gif], 'data-image' => playlist[:image] %>
    <% end %>
  </div>

  <div id="home-title">
    <h1>Welcome to <span class="brand_name">weTube</span></h1>
    <p>We're bring the movie theater experience to your computer screen. Stream your favorite YouTube videos with your friends. Watch and chat synchronously.</P>

    <p>To get started, check out some of our theaters on the left.</p>
  </div>
</div>