<div id="home-content">
  <div id='home-list'>
    <% @playlists.each do |playlist| %>
      <a href="/theaters/<%= playlist.first %>"><img src="assets/<%= playlist.last %>" /></a>
    <% end %>
  </div>

  <div id="home-title">
    <h1>Welcome to WeTube</h1>
    <h3>Interactive theaters for you and your loved ones DERP DE DERP DERP</h3>
  </div>
</div>